
body {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

header {
    .headerContent {
        justify-content: space-between;
    }
    .logo > img {
        width: 300px;
    }
    .form-inline{
        width: 50%;
        .form-control {
            width: 75%;
        }
    }
    .linkCaddie{
        display: flex;
        align-items: center;
        p { 
            margin-right: 0.5rem;
            margin-top: 1rem;
        }
        .bi-cart-fill {
            height: 50px;
            width: 50px;
            font-size: 2rem;
            background: linear-gradient(135deg, #d65000 0%, #a95183 50%, #803bd0 100%);
            background: -moz-linear-gradient(-45deg, #d65000 0%, #a95183 50%, #803bd0 100%);
            background: -webkit-linear-gradient(-45deg, #d65000 0%, #a95183 50%, #803bd0 100%);
            opacity: 0.7;
            border-radius: 50px;
            text-align: center;
            color: white;
            align-self: center;
            margin-right: 1rem;
                
        }
    }
    
}


main {
    .carousel-inner {
        max-height: 500px;

        .carousel-item {
            
            .d-block {
                max-height: 750px !important;
                background-position: center;
                background-size: cover;
            }
        } 
    }
    
    .itemsContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        

        .itemCard {
            width: 45%;
            display: flex;
            border-radius: 0px 13px 0px 13px;
            -webkit-box-shadow: 10px 14px 19px 8px rgba(0,0,0,0.51); 
            box-shadow: 1px 1px 10px 1px  rgba(0,0,0,0.51);
            text-align: center;
            margin: 2rem;

            .ItemCardImageContent {
                height: 250px;
                max-width: 375px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 0px 10px 0px 10px;

    
                img {
                    height: 500px;
                    object-fit: cover;
                    
                }
            }
            .ItemCardContent {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: inherit;

                .itemCardButton {
                    color: white;
                    width: 100px;
                    height: 35px;
                    border-radius: 10px;
                    background: linear-gradient(135deg, #df9c59 0%, #922864 50%, #5C00C5 100%);
                    background: -moz-linear-gradient(-45deg, #df9c59 0%, #922864 50%, #5C00C5 100%);
                    background: -webkit-linear-gradient(-45deg, #df9c59 0%, #922864 50%, #5C00C5 100%);
                }
            }
            
            
        }
            
    }
}

.footerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(194, 194, 194);
    border-radius: 10px;
    box-shadow: 10px 10px 20px grey;

    
    & > ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style-type: none;
    }
    & > li {
        margin-left: 3rem;
        list-style-type: none;
    }
}



/*#######page detailProduct######*/


.productCard {
    display: flex;
    padding: 2rem 1rem 4rem 1rem ;

    .productCardContent {
        padding-left: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .option {
            width: 150px;
        }
        .qty {
            width: 150px;
        }
        .price {
            align-self: center;
            font-size: 2rem;
            color: #444444;
            background: #FFFFFF;
            
            
        }
        .btn-primary, .btn-success {
            height: fit-content;
            align-self: flex-end;
            bottom: 30px;
            right: 300px;
            margin-right: 1rem;
            width: 150px;
        }
    }
    
}


.image {
    height: 400px;
}

/*#######page caddie######*/
main {
    margin: 0.5rem;

    #caddieContainer {
        margin: 0.5rem;
    }
    .rowInfo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin : 0 0 1rem 0;
        background: linear-gradient(135deg, #d65000 0%, #a95183 50%, #803bd0 100%);
        background: -moz-linear-gradient(-45deg, #d65000 0%, #a95183 50%, #803bd0 100%);
        background: -webkit-linear-gradient(-45deg, #d65000 0%, #a95183 50%, #803bd0 100%);
        opacity: 0.8;
        color: white;
        
    
        .noWord {
            min-width: 230px;
        }
        p {
            margin-right: 0.7rem;
        }
            
    }
    .btnBuy {
        margin-bottom: 1rem;
        text-align: center;
    }
    .caddieContainerList {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
    
        .caddieCard {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            margin-bottom: 1rem;
            background-color:#f8f9fa;
            border-radius: 0 20px 0 20px;
            box-shadow: 2px 2px 5px grey;
        
            .caddieCardContent {
                display: flex;
                margin-right: 0.5rem;        
                
                .option {
                    width: 20%;
                }
                .caddieCardContentPrice {
                    width: 35%;
                    align-self: flex-end;
                    
                }
                            
                & > h3 {
                    width: 25%;
                    margin-left: 1rem;
                }
                & > h4 {
                    margin-left: 2rem;
                    width: 21%;
                }
                & > h5 {
                    margin-left: 1rem;
                    margin-right: 3rem;
                    width: 25%;
                }
            }
        
            .caddieCardImage {
                height: 250px;
                
        
                .caddieCardImageContent {
                    height: 200px;
                    width: 300px;
                    border-radius: 20px 0 20px 0; ;
                    
                }
            
            }
        }
        .caddieContainerListTotal {
            border-radius: 10px;
            align-self: flex-end;
            width: 320px;
            height: 100px;
            opacity: 0.8;
            background: linear-gradient(135deg, #d65000 0%, #a95183 50%, #803bd0 100%);
            background: -moz-linear-gradient(-45deg, #d65000 0%, #a95183 50%, #803bd0 100%);
            background: -webkit-linear-gradient(-45deg, #d65000 0%, #a95183 50%, #803bd0 100%);
            text-align: center;    
            color: white;
            font-size: x-large ;
            
        }
        .deleteItems {
            align-self: flex-end;
            .btn-outline-primary {
                border-radius: 13px;
                margin-left: 0.5rem;
            }
        }
        
    }
    /*#######Form######*/
    #inputEmail4:invalid{
        border-color: #900;
        background-color: #FDD;
        }
    #inputPassword4:invalid{
        border-color: #900;
        background-color: #FDD;
    }
    #inputZip:invalid{
        border-color: #900;
        background-color: #FDD;
    }
    #inputState:invalid{
        border-color: #900;
        background-color: #FDD;
    }
    #errorMessage {
        color: red;
        font-size: x-large;
    }
}

/*#######validation##########*/
.logoValidate {
    display: flex;
    justify-content: center;
    img {
        width: 150px;
    }
}
.containerValidate {
    margin : 5rem 0 5rem 0;
    .containerValidateContent {
        text-align: center;
        margin-top: 5rem;
    }
}




