body {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

header .headerContent {
  justify-content: space-between;
}
header .logo > img {
  width: 300px;
}
header .form-inline {
  width: 50%;
}
header .form-inline .form-control {
  width: 75%;
}
header .linkCaddie {
  display: flex;
  align-items: center;
}
header .linkCaddie p {
  margin-right: 0.5rem;
  margin-top: 1rem;
}
header .linkCaddie .bi-cart-fill {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  background: linear-gradient(135deg, #d65000 0%, #a95183 50%, #803bd0 100%);
  background: -webkit-linear-gradient(-45deg, #d65000 0%, #a95183 50%, #803bd0 100%);
  opacity: 0.7;
  border-radius: 50px;
  text-align: center;
  color: white;
  align-self: center;
  margin-right: 1rem;
}

main .carousel-inner {
  max-height: 500px;
}
main .carousel-inner .carousel-item .d-block {
  max-height: 750px !important;
  background-position: center;
  background-size: cover;
}
main .itemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
main .itemsContainer .itemCard {
  width: 45%;
  display: flex;
  border-radius: 0px 13px 0px 13px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.51);
  text-align: center;
  margin: 2rem;
}
main .itemsContainer .itemCard .ItemCardImageContent {
  height: 250px;
  max-width: 375px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 10px 0px 10px;
}
main .itemsContainer .itemCard .ItemCardImageContent img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .itemsContainer .itemCard .ItemCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: inherit;
}
main .itemsContainer .itemCard .ItemCardContent .itemCardButton {
  color: white;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background: linear-gradient(135deg, #df9c59 0%, #922864 50%, #5C00C5 100%);
  background: -webkit-linear-gradient(-45deg, #df9c59 0%, #922864 50%, #5C00C5 100%);
}

.footerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #c2c2c2;
  border-radius: 10px;
  box-shadow: 10px 10px 20px grey;
}
.footerContent > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}
.footerContent > li {
  margin-left: 3rem;
  list-style-type: none;
}

/*#######page detailProduct######*/
.productCard {
  display: flex;
  padding: 2rem 1rem 4rem 1rem;
}
.productCard .productCardContent {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.productCard .productCardContent .option {
  width: 150px;
}
.productCard .productCardContent .qty {
  width: 150px;
}
.productCard .productCardContent .price {
  align-self: center;
  font-size: 2rem;
  color: #444444;
  background: #FFFFFF;
}
.productCard .productCardContent .btn-primary, .productCard .productCardContent .btn-success {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: flex-end;
  bottom: 30px;
  right: 300px;
  margin-right: 1rem;
  width: 150px;
}

.image {
  height: 400px;
}

/*#######page caddie######*/
main {
  margin: 0.5rem;
  /*#######Form######*/
}
main #caddieContainer {
  margin: 0.5rem;
}
main .rowInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem 0;
  background: linear-gradient(135deg, #d65000 0%, #a95183 50%, #803bd0 100%);
  background: -webkit-linear-gradient(-45deg, #d65000 0%, #a95183 50%, #803bd0 100%);
  opacity: 0.8;
  color: white;
}
main .rowInfo .noWord {
  min-width: 230px;
}
main .rowInfo p {
  margin-right: 0.7rem;
}
main .btnBuy {
  margin-bottom: 1rem;
  text-align: center;
}
main .caddieContainerList {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
main .caddieContainerList .caddieCard {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 1rem;
  background-color: #f8f9fa;
  border-radius: 0 20px 0 20px;
  box-shadow: 2px 2px 5px grey;
}
main .caddieContainerList .caddieCard .caddieCardContent {
  display: flex;
  margin-right: 0.5rem;
}
main .caddieContainerList .caddieCard .caddieCardContent .option {
  width: 20%;
}
main .caddieContainerList .caddieCard .caddieCardContent .caddieCardContentPrice {
  width: 35%;
  align-self: flex-end;
}
main .caddieContainerList .caddieCard .caddieCardContent > h3 {
  width: 25%;
  margin-left: 1rem;
}
main .caddieContainerList .caddieCard .caddieCardContent > h4 {
  margin-left: 2rem;
  width: 21%;
}
main .caddieContainerList .caddieCard .caddieCardContent > h5 {
  margin-left: 1rem;
  margin-right: 3rem;
  width: 25%;
}
main .caddieContainerList .caddieCard .caddieCardImage {
  height: 250px;
}
main .caddieContainerList .caddieCard .caddieCardImage .caddieCardImageContent {
  height: 200px;
  width: 300px;
  border-radius: 20px 0 20px 0;
}
main .caddieContainerList .caddieContainerListTotal {
  border-radius: 10px;
  align-self: flex-end;
  width: 320px;
  height: 100px;
  opacity: 0.8;
  background: linear-gradient(135deg, #d65000 0%, #a95183 50%, #803bd0 100%);
  background: -webkit-linear-gradient(-45deg, #d65000 0%, #a95183 50%, #803bd0 100%);
  text-align: center;
  color: white;
  font-size: x-large;
}
main .caddieContainerList .deleteItems {
  align-self: flex-end;
}
main .caddieContainerList .deleteItems .btn-outline-primary {
  border-radius: 13px;
  margin-left: 0.5rem;
}
main #inputEmail4:invalid {
  border-color: #900;
  background-color: #FDD;
}
main #inputPassword4:invalid {
  border-color: #900;
  background-color: #FDD;
}
main #inputZip:invalid {
  border-color: #900;
  background-color: #FDD;
}
main #inputState:invalid {
  border-color: #900;
  background-color: #FDD;
}
main #errorMessage {
  color: red;
  font-size: x-large;
}

/*#######validation##########*/
.logoValidate {
  display: flex;
  justify-content: center;
}
.logoValidate img {
  width: 150px;
}

.containerValidate {
  margin: 5rem 0 5rem 0;
}
.containerValidate .containerValidateContent {
  text-align: center;
  margin-top: 5rem;
}/*# sourceMappingURL=style.css.map */