header {
    .logo > img {
        width: 300px;
    }
    .form-inline{
        width: 50%;
        .form-control {
            width: 75%;
        }
    }
}


main {
    .carousel-inner {
        max-height: 500px;

        .carousel-item {
            
            .d-block{
                max-height: 750px !important;
                background-position: center;
                background-size: cover;
            }
        } 
    }
    
    .itemsContainer {
        justify-content: center;

        .ItemCardImageContent {
            height: 500px;

            img{
                height: 500px;
                object-fit: cover;
            }
        }
        .itemCard {
            border: 5px outset rgba(183,100,250,0.94);
            border-radius: 0px 13px 0px 13px;
            -webkit-box-shadow: 10px 14px 19px 8px rgba(0,0,0,0.51); 
            box-shadow: 10px 14px 19px 8px rgba(0,0,0,0.51);
            text-align: center;
            margin: 2rem;
        }
    }
}


.footerContent > ul {
    display: flex;
    justify-content: space-between;
}

/*#######page detailProduct######*/


    .image{
        height: 400px;
    }
