
body {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

header {
    .headerContent {
        justify-content: space-between;
    }
    .logo > img {
        width: 300px;
    }
    .form-inline{
        width: 50%;
        .form-control {
            width: 75%;
        }
    }
    .linkCaddie{
        display: flex;
        align-items: center;
        p{ 
            margin-right: 0.5rem;
            margin-top: 1rem;
        }
        .bi-cart-fill {
            height: 50px;
            width: 50px;
            font-size: 2rem;
            background: linear-gradient(135deg, #df9c59 0%, #922864 50%, #5C00C5 100%);
            background: -moz-linear-gradient(-45deg, #df9c59 0%, #922864 50%, #5C00C5 100%);
            background: -webkit-linear-gradient(-45deg, #df9c59 0%, #922864 50%, #5C00C5 100%);
            opacity: 0.7;
            border-radius: 50px;
            text-align: center;
            color: white;
            align-self: center;
            margin-right: 1rem;
                  
        }
    }
    
}


main {
    .carousel-inner {
        max-height: 500px;

        .carousel-item {
            
            .d-block{
                max-height: 750px !important;
                background-position: center;
                background-size: cover;
            }
        } 
    }
    
    .itemsContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        

        .itemCard {
            width: 45%;
            display: flex;
            border: 2px outset rgba(183,100,250,0.94);
            border-radius: 0px 13px 0px 13px;
            -webkit-box-shadow: 10px 14px 19px 8px rgba(0,0,0,0.51); 
            box-shadow: 10px 14px 19px 8px rgba(0,0,0,0.51);
            text-align: center;
            margin: 2rem;

            .ItemCardImageContent {
                height: 250px;
                width: 380px;
                border-radius: 0 0 0 10px ;
    
                img{
                    height: 500px;
                    object-fit: cover;
                    
                }
            }
            .ItemCardContent {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: inherit;

                .itemCardButton {
                    color: white;
                    width: 100px;
                    height: 35px;
                    border-radius: 10px;
                    background: linear-gradient(135deg, #df9c59 0%, #922864 50%, #5C00C5 100%);
                    background: -moz-linear-gradient(-45deg, #df9c59 0%, #922864 50%, #5C00C5 100%);
                    background: -webkit-linear-gradient(-45deg, #df9c59 0%, #922864 50%, #5C00C5 100%);
                }
            }
            
            
        }
              
    }
}

.footerContent {
    width: 100%;
    background: rgb(194, 194, 194);
}
.footerContent > ul {
    display: flex;
    justify-content: space-around;
}

/*#######page detailProduct######*/


.productCard{
    display: flex;
    padding: 2rem 1rem 4rem 1rem ;

    .productCardContent {
        padding-left: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .option {
            width: 150px;
            align-self: center;
        }
        .price {
            align-self: center;
            font-size: 2rem;
            color: #444444;
            background: #FFFFFF;
            text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
            
        }
        .btn-primary, .btn-success {
            height: fit-content;
            align-self: flex-end;
            bottom: 30px;
            right: 300px;
            margin-right: 1rem;
            width: 150px;
        }
    }
    
}


.image{
    height: 400px;
}

/*#######page caddie######*/
.btnBuy {
    margin-bottom: 1rem;
    text-align: center;
}
.caddieContainerList {
    display: flex;
    .caddieCard {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    
        .caddieCardContent {
            display: flex;        
            
            .option {
                width: 20%;
            }
            .caddieCardContentPrice {
                width: 35%;
                align-self: flex-end;
            }
            
            & > h3 {
                width: 20%;
                margin-left: 2rem;
            }
            & > h5 {
                margin-left: 2rem;
                width: 25%;
            }
        }
    
        .caddieCardImage {
            height: 250px;
    
            .caddieCardImageContent {
                height: 200px;
                width: 300px;
                
            }
        
        }
    }
    .caddieContainerListTotal {
        border-radius: 10px;
        align-self: flex-end;
        width: 320px;
        height: 150px;
        opacity: 0.5;
        background: linear-gradient(135deg, #df9c59 0%, #922864 50%, #5C00C5 100%);
        background: -moz-linear-gradient(-45deg, #df9c59 0%, #922864 50%, #5C00C5 100%);
        background: -webkit-linear-gradient(-45deg, #df9c59 0%, #922864 50%, #5C00C5 100%);    }
}

