@media (min-width: 768px) and (max-width: 992px){
    .headerContent {
        flex-direction: column !important;

        .linkLogo {
            display: flex;
            justify-content: center;
        }
        .form-inline {
            width: 100%;
            margin-left: 3rem;
        }
        .linkCaddie {
            align-self: center;
            
        }
    }
    .itemCard {
        width: 100% !important;

        .ItemCardImage {
            width: 50% !important;
            .ItemCardImageContent {
                max-width: 375px;
            }
        }
    }
    .footerContent {
        display: flex;
        justify-content: center;
        text-align: center;
        & > ul {
            flex-direction: column !important;
            
        }
        .footerContentList {
            margin-bottom: 1rem;
        }
        
    }

    /*#######page detailProduct######*/
    .caddieCard {
        flex-direction: column-reverse !important;

    }
    .productCard {
        flex-direction: column !important;
        .productCardImageContainer {
            display: flex;
            justify-content: center;
        }

        .addToCaddie {
            margin-bottom: 1rem;
        }
    }
    /*######### CADDIE #########*/
    #caddieContainer {
        margin: 1rem !important;
    }
    .rowInfo {
        .noWord {
            display: none;
        }
    }

}

